@charset "utf-8";
/* CSS Document */


#background{
	min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
	position: fixed;
}

.container {
	position: absolute;
	width: 100%;
	margin-top: 8%;
}

.connexion {
	border-radius: 35%;
	width: 400px;
	height: 300px;
	background-color: black;
	color: white;
    opacity: .8;
}

footer {
		position: absolute;
	margin-top: 60%; 
	margin-left: 48%
}


#logo {
	margin-top: 4%; 
}
#center {
	color: black;
}

form {
	color: white;
}

input {
	color: black;
}
