@charset "utf-8";
/* CSS Document */

.textarea{
	width: 60%;
	height: 150px;
}
.marged {
	margin-top: 0%;
}

.display-5 {
	font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
	margin-left: 4%;
}
