@charset "utf-8";
/* CSS Document */


.principal {
	
	margin-top: 6%;

}
.accordion {
    background-color: #eee;
	border-color: black;
	border-radius: 2%;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
	 
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: whitesmoke;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
	
}
body {
	margin-left: 4%;
	margin-right: 4%;
}
