@charset "utf-8";
/* CSS Document */


body {
	margin-top: 10%;
	margin-left: 4%;
	margin-right: 4%;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.text-center{
}

.col-xl-4 {
	background-color: grey;
	border-radius: 25%;
	height: auto;
}

.center {
	background-color: transparent;
}

.title {
	color: white;
	margin-top: 25%;
}

#titre {
	color: whitesmoke;
	margin-top: 25%;
}
